Source: tuxpuck
Section: games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders:
 Markus Koschany <apo@gambaru.de>
Build-Depends:
 debhelper (>= 9),
 libjpeg-dev,
 libpng-dev,
 libsdl1.2-dev,
 libvorbis-dev
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-games/tuxpuck.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-games/tuxpuck.git
Homepage: https://wiki.debian.org/Games/TuxPuck

Package: tuxpuck
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: air hockey game for single players
 TuxPuck is an air hockey game and clone of the Amiga/Atari ST game Shufflepuck
 Café. The player moves a bat around a table and tries to knock the puck past
 the opponent's defense. After someone has reached 15 points, the match is over.
